
/* get rid of those system borders being generated for A tags */
a:active {
    outline:none;
}

:focus {
    -moz-outline-style:none;
}

  
  #validate, #thx {

    /* overlay is hidden before loading */
    display:none;

    /* standard decorations */
    width:340px;
    border:4px solid #666;

    /* for modern browsers use semi-transparent color on the border. nice! 
    */
    border:4px solid rgba(82, 82, 82, 0.698);
    /* hot CSS3 features for mozilla and webkit-based browsers (rounded borders) */
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    z-index: 111;
  }

  #validate, #thx div {
    padding: 10px;
    background-color:#F00;
    color:#fff;
    margin-bottom: 10px;
  }
  
  #validate div ul {
        margin-left: 20px;
  }
  
  #preload {
       display:none;
       margin: 0 auto;
       width: 31px;
       height: 31px;
  }
  
